{{ define "main" }}
<main>
  {{ with .Params.banner }}
  <!-- <a title="Home" href='{{ $.Site.BaseURL }}' id='banner'> -->
    <!-- {{ with ($.Resources.GetMatch (printf "%s*" .)) }} -->
    <!-- <img src='{{ (.Resize (printf "x1080 %s" (.Params.quality | default "q75"))).RelPermalink }}'> -->
    <!-- {{ end }} -->
  <!-- </a> -->
  {{ end }}
  <article class='box height'>
    <div class='content'>
      <header class='t-c'>
        <h1>{{ .Title }}</h1>
        <small class='h4 t-u'>
          <ul class='inline'>
            <li>{{ .Date.Format "January 2, 2006" }}</li>
            <li class='h4 h4-alt'>
              <span>{{ .Params.categories }}</span>
            </li>
          </ul>
        </small>
      </header>
      {{ .Content }}
    </div>
  </article>
</main>
{{ end }}
