<head>
    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Param "title" }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ with .Param "description" }}<meta name="description" content="{{ . }}">{{ end }}
    {{ with .Param "author" }}<meta name="author" content="{{ . }}">{{ end }}
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,700i|Roboto+Mono|Yeseva+One" rel="stylesheet">

    {{- $style := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink | absURL }}" integrity="{{ $style.Data.Integrity }}">
</head>
