{{- define "main" }}
<main>
  <section class='f box hero r r-x r-a-c'>
    <div class='display r m-t-c animate-opacity animate-slow' href='{{ .Site.BaseURL }}'>
      <div class='c c-4'>
        <a href='{{ .Site.BaseURL }}'>
          <h1 class='t-c'>{{ substr .Title 0 1 }}</h1>
        </a>
      </div>
      <div class='c'>
        <div class='r r-x r-a-c' style='height:100%'>
          <div class='c'>
            <p>{{ .Title }}</p>
            <p>{{ .Params.description }}</p>
            <p>Contact: {{ .Params.contact }}</p>
          </div>
        </div>
      </div>
    </div>
    <div id="scrolldown"><a href='#list'><span></span><span></span><span></span></a></div>
  </section>
  <div class='hero' style='background:transparent;z-index:-1;'>
  </div>
  <section id="list" class='vs hero-right'>
    <div>
      <hr>
      <div class='r'>
        <div class='c c-6'>{{ .Content }}</div>
        <div class='c c-1'></div>
        <div class='c'>
          <h3>Networks</h3>
          <ul>
            {{- range $k, $v := .Site.Params.social }}
            <li class='h4'><a href='{{ $v }}'>{{ $k | title }}</a></li>
            {{- end }}
          </ul>
          <h3>Experience</h3>
          <ul>
            {{- range .Params.experience }}
            <li class='h4'>{{ . }}</li>
          {{- end }}
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div>
      {{- range .Params.images }}
        {{- with ($.Resources.GetMatch (printf "%s*" .)) }}
        <img src='{{ (.Resize "x900").RelPermalink }}'>
        {{- end }}
      {{- end }}
    </div>
  </section>
</main>
{{- end }}
