.animate-opacity {
  animation:opac 0.8s} @keyframes opac {
    from { opacity:0} to { opacity:1}}

.animate-top {
  position:relative;animation:animatetop 0.3s} @keyframes animatetop {
    from { top:-300px;opacity:0} to { top:0;opacity:1}}

.animate-left {
  position:relative;animation:animateleft 0.3s} @keyframes animateleft {
    from { left:-300px;opacity:0} to { left:0;opacity:1}}

.animate-right {
  position:relative;animation:animateright 0.3s} @keyframes animateright {
    from { right:-300px;opacity:0} to { right:0;opacity:1}}

.animate-bottom {
  position:relative;animation:animatebottom 0.3s} @keyframes animatebottom {
    from { bottom:-300px;opacity:0} to { bottom:0;opacity:1}}

@mixin delays($n) {
  .animate-#{$n} {
    animation-fill-mode: backwards;
    animation-delay: #{$n}00ms}}

@for $i from 0 through 100 { @include delays($i)}

.animate-slow {
  animation-duration: 2s;}
