article {
  header { margin: 40vh 0 4em}}

.display * {
   padding-top: 0;
   padding-bottom: 0;
   margin-top: 0;
   margin-bottom: 0;}

.hero-right {
  @media(min-width:#{$content-breakpoint}) {
    width: calc(66.666% - 2rem);
    margin-left: calc(33.333% + 2rem);}
    padding: 0 $content-spacing;}

#list {
  div:first-of-type {
    background: $color-background;}
  hr:first-of-type {
    margin-bottom: $content-spacing;}
  hr:last-of-type {
    margin-top: $content-spacing;}
  & > * {
    max-width: 100rem}
  img {
    margin: calc(2 * #{$content-spacing}) 0;
    height: auto;
    max-height: 80vh;
    width: auto;
    max-width: 100vw;
    &:nth-of-type(2) { margin-left: auto;}
    @media(max-width:#{$content-breakpoint}) {
      margin-left: -$content-spacing !important;}}}

// Animated scroll icon ---------------------------------------------------------

#scrolldown {
  position: absolute;
  bottom: 12%;
  left: 50%;}

#scrolldown span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;}
#scrolldown span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;}

#scrolldown span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;}

#scrolldown span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;}

@-webkit-keyframes sdb07 {
  0% { opacity: 0;}
  50% { opacity: 1;}
  100% { opacity: 0;}}

@keyframes sdb07 {
  0% { opacity: 0;}
  50% { opacity: 1;}
  100% { opacity: 0;}}
