.content {
  overflow: hidden;
  @include multi(margin, auto, left, right)
  max-width: $content-width;
  &.s { max-width: calc(#{$content-width} * 3/4)}
  &.l { max-width: calc(#{$content-width} * 3/2)}}

// @media(max-width:#{$content-breakpoint}) {
  .box { padding: $content-spacing}
// }

// Section spacing --------------------------------------------------------------

.height { min-height: 100vh}

@mixin responsive($xs...) {
  // Reduce spacing to 2rem if in mobile mode
  @media(max-width:#{$content-breakpoint}) {
    &.responsive {
      @each $x in $xs {
        #{$x}: 2rem;}}}}

.vs { // Vertical Spacing
  @include responsive(margin-top, margin-bottom)
  @include multi(margin, $content-spacing, top, bottom)
  &.vs-s vs { @include multi(margin, calc(#{$content-spacing} / 2), top, bottom) }
  &.vs-l { @include multi(margin, calc(#{$content-spacing} * 2), top, bottom) }}

.hs { // Horizontal Spacing
  @include responsive(margin-left, margin-right)
  @include multi(margin, $content-spacing, left, right)
  &.hs-s { @include multi(margin, calc(#{$content-spacing} / 2), left, right) }
  &.hs-l { @include multi(margin, calc(#{$content-spacing} * 2), left, right) }}

// Grid gallery container -------------------------------------------------------
// .g for grid
// .g2 for a fix number of columns
// .g-1 to change the spacing

@mixin g-split($n) {
  &.g#{$n} {
    grid-template-columns: repeat($n, 1fr);
    @media(max-width:#{$content-breakpoint}) { grid-template-columns: 1fr}}}

$nsplits: 4;
.g {
  display: grid;
  position: relative;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(#{$content-breakpoint}, 1fr));
  @for $i from 1 through $nsplits {@include g-split($i)}

  grid-gap: $content-spacing;
  &.g-0 { grid-gap: 0 }
  &.g-1 { grid-gap: .5rem }
  &.g-s { grid-gap: calc(#{$content-spacing} / 2) }
  &.g-l { grid-gap: calc(#{$content-spacing} * 2) }}

// Flex row for horizontal alignment --------------------------------------------
// <ul class='r'><li class='c'></li></ul> for auto columns
// r r-x r-s-a r-a-c with text-align middle for centered div

.r {
  width: 100%;
  display: flex;
  flex-direction: column;
  @media(min-width:#{$content-breakpoint}) { flex-direction: row}

  &.r-x   { flex-direction: row}            // force row
  &.r-s-b { justify-content: space-between} // space between
  &.r-s-a { justify-content: space-around}  // space around
  &.r-a-t { align-items: flex-start}        // align top
  &.r-a-c { align-items: center}            // align center
  &.r-a-b { align-items: flex-end}          // align bottomw

  .c {
    position: relative;
    flex: 1 1 auto;
    display: block;
    margin-left: 0;
    width: 100%;

    @media(min-width:#{$content-breakpoint}) {
      @include multi(margin, 2rem, left, right)
      &:first-of-type { margin-left: 0}
      &:last-of-type  { margin-right: 0}}

    @each $size in (20,30,40,60,70,80,1,2,3,4,5,6,7,8,9,10,11,12) {
      &.c-#{$size} {
        max-width: 100%}}

    @media(min-width:#{$content-breakpoint}) {
      @each $size in (20,30,40,60,70,80) {
        &.c-#{$size} {
          flex:  0 0 percentage($size/100);
          max-width: percentage($size/100)}}

      @each $size in (1,2,3,4,5,6,7,8,9,10,11,12) {
        &.c-#{$size} {
          flex: 0 0 percentage($size/12);
          max-width: percentage($size/12)}}}}}

// Fixed position ---------------------------------------------------------------

.f {
  position: fixed;
  &.f-t { top: 0}
  &.f-l { left: 0}
  &.f-b { bottom: 0}
  &.f-r { right: 0}}

// Hero item --------------------------------------------------------------------

.hero {
  height: 100vh; width: 100vw;
  background-color: $color-background;
  background-attachment: fixed;
  img { object-fit:cover; height: 100%; width: 100% }}
