body {
  color: $color-body;
  font: 400 1.6rem/1.75 $font-body;}

p { margin: 0 0 1.6rem}

h1,h2,h3,h4,h5,h6 { margin: $content-spacing 0; line-height: 1}

hr {
  border-color: $color-highlight;}

pre {
  background-color: $color-light;
  border-left: solid 0.5rem $color-highlight;
  border-radius: 0.4rem;
  padding: 2rem;
  margin: 1.6rem 0;}

code { font: 1rem "Roboto Mono";}

// Transforms

b { font-weight: 700}
small { font-size: 1.4rem}
.t-l { text-align: left}
.t-c { text-align: center}
.t-r { text-align: right}
.t-j { text-align: justify}
.t-u { text-transform: uppercase}
.t-s { letter-spacing: .5em}

@media(max-width:#{$content-breakpoint}) {
  .m-t-c { text-align: center;}}

 // Headers

.h1,h1 {
  color: #e7e9ee;
  font: 20rem $font-alt;
  letter-spacing: -0.05em;}

.h2,h2 {
  color: $color-accent;
  font: 2rem/1.33 $font-alt;}

.h3,h3 {
  @extend small;
  color: $color-body;
  font-family: $font-body;
  text-transform: uppercase;
  letter-spacing: .2em}

%h4,h4 {
  @extend small;
  color: $color-accent;
  font-family: $font-body;}
.h4 {
  @extend %h4;
  &.h4-alt:before { content: "/"; padding-right: 1em;}}

// Lists

ul { // No bullet list
  line-height: 1.25;
  list-style: none;
  padding: 0;
  color: $color-accent;
  li { position: relative}
  &.inline { // Horizontal
    li {
      display: inline;
      margin-right: 1em}}}

// Links

a:hover, a:active {
  color: $color-body;}

// Post -------------------------------------------------------------------------

article {
  background-color: $color-background;

  h2,h3,h4,h5,h6 {
    margin-top: 2em;
  }

  h1,h2,h3,h4,h5,h6 {
    color: $color-accent;
    // font-weight: 700;
    font-size: 2.4rem;
    line-height: 1;
    font-family: $font-alt;}

  h1 {
    font-size: 3.2rem;
  }

  ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
    counter-reset: item;
    li {
      @include multi(margin, 0.5rem, bottom, top);
      &:before {
        margin-right: 1rem;
        padding-right: 1rem;
        content: counter(item) " ";
        counter-increment: item;
        border-right: 0.2rem solid $color-highlight;
      }
    }
  }
}
