/* +------------+
 * | PUBLIC API |
 * +------------+
 *
 * ANIMATIONS
 *
 * .animate-opacity
 * .animate-top
 * .animate-left
 * .animate-right
 * .animate-bottom
 *
 * .animate-1
 * .animate-2
 * ...
 * .animate-100
 *
 * POSITIONING
 *
 * .content:
 *    both sides auto-margin box with max width=$content-width
 *    also comes in small version: .content.s
 *    also comes in large version: .content.l
 *
 * .box:
 *    adds padding on all 4 sides
 *
 * .height:
 *    sets the height to 100% of page height
 *
 * .vs
 * .vs.vs-s
 * .vs.vs-l:
 *    add margin to top and bottom (comes in small and large variant)
 *    removes margin in mobile mode
 *
 */

$color-background: #141414; //#f7f9ff;
$color-body: #f7f9ff; //#5a6677;
$color-accent: #67696f; //#21344d;
$color-highlight: #27292f; //#65b0d4;
$color-light: #f7f9ff; //#f3f7fb;

// Globals

$content-width: 60rem;
$content-breakpoint: 40rem;
$content-spacing: 3.5rem;

$font-body: "Lato", sans-serif;
$font-alt: "Yeseva One", serif;

// Helpers

@mixin multi($attr, $v, $xs...) {
  // Setting multi properties attribute
  @each $x in $xs {
    #{$attr}-#{$x}: $v;}}

// Modules

@import "normalize";
@import "position";
@import "typography";
// @import "grid";
// @import "links";
// @import "list";
// @import "extras";
@import "animations";
@import "elements";
// @import "color";
